/* o meu codigo css*/

.img-lock{
	margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;

}

.margin-top-20{
	margin-top: 20px;
}

.titulo-erro{
	font-weight: bolder;
	color: black;
	font-size: 15px;
}

.link{
     color: #FFFFFF;
}

button{
	background: #000000;
}

.adm{
	text-align: center;

}

.navflex-column{
	position: absolute;

}

.menu{
	position: absolute;
	top: 10%;
	left: 520px;
}

.form-group{
	text-align: center;
    left: 470px;
}

.form-group button{
     position: absolute;
	 top: 80px;
	 left: 50px;
}

.but{
	position: absolute;
	top: 80px;
	left: 5px;
}

.bot{
	position: absolute;
	left: 40px;
    
}