/* o meu codigo css*/

.img-lock{
	margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;

}

.margin-top-20{
	margin-top: 20px;
}

.titulo-erro{
	font-weight: bolder;
	color: black;
	font-size: 15px;
}

.link{
     color: #FFFFFF;
}

button{
	background: #000000;
}


